<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}
	   SnowTricks
	{% endblock %}</title>
	 {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SnowTricks.com</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{path('ocst_homepage')}}"><span class="glyphicon glyphicon-home"></span> Accueil </a></li>
      {% block nav %}
       

        {% endblock %}
      
  
    </ul>
  </div>

</nav>
 <div class="container">

    {% block body %}

        
    {% endblock %}
  </div> 

</body>


  

    

</html>