{% extends "OCSTBundle:Trick:layout.html.twig "%}


{% block body %}
    <div class="header-content-inner">
            <div class="col-xs-12 tricktitle" ><h3 class="text-center">{{"Ajouter un Trick" |trans}}</h3>
      </div>
    {{include("OCSTBundle:Trick:form.html.twig")}}
</div>
{% endblock %}

